/* these styles apply to the entire page */
section {
  border: 1px solid grey;
  padding-left: 1em;
  margin: 1em;
}
h1 {
  text-align: left;
}
body {
  font-family: sans-serif;
}
svg {
  border: 1px dashed grey;
}
.tooltip {
  position: absolute;
  padding: 8px;
  background: white;
  border: 1px solid #333333;
  border-radius: 4px;
  pointer-events: none;
  font-family: sans-serif;
  font-size: 14px;
}
.container {
  margin: 0 auto;
  align-content: center;
}
.buttons {
  position: absolute;
  left: 700px;
  top: 75px;
}
.button2 {
  position: absolute;
  left: 325px;
  top: 125px;
  margin: 10px;
}
.button3 {
  position: absolute;
  left: 450px;
  top: 125px;
  margin: 10px;
}
.button4 {
  position: absolute;
  left: 700px;
  top: 125px;
  margin: 10px;
}
.text {
  position: absolute;
  left: 20px;
  top: 60px;         
}
.text2 {
  position: absolute; 
  left: 90px;
  top: 90px;  
}